<div id="main">
	<% for (let post of posts) { %>
		<%- include('post', {
			post: post,
			context: 'index'
		}) %>
	<% } %>
	<% if (before_param || after_param) { %>
		<%- include('pagination', {
			before_param: before_param,
			after_param: after_param
		}) %>
	<% } %>
</div>
