<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/assets/css/codemirror.css">
		<link rel="stylesheet" href="/assets/css/smol.css">
		<link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="32x32">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<div class="overview">
				<h1><a href="/">phiffer.org</a></h1>
				<% if (typeof index_title == 'string') { %>
					<h2 class="index-title"><%= index_title %></h2>
				<% } %>
				<!--<nav>
					<a href="/archive">archive</a>
					<a href="/projects">projects</a>
					<a href="/subscribe">subscribe</a>
				</nav>-->
			</div>
		</header>
		<%- include(main, content) %>
		<footer>
			<div class="grid">
				<div class="column">
					<h3>About</h3>
					<p>Dan Phiffer is an Internet enthusiast based in Troy, NY. He works as a software developer at the <a href="https://www.aclu.org/">ACLU</a>.</p>
					<ul>
						<li><a href="mailto:dan@phiffer.org">Email</a> (PGP: <a href="/etc/BA9280C9.asc">BA9280C9</a>)</li>
						<li><a href="/dan_phiffer_resume.pdf">Résumé</a></li>
					</ul>
					<!-- <p><a href="/about" class="read-more">Read more →</a></p>-->
				</div>
				<div class="column">
					<h3>Projects</h3>
					<ul>
						<li>
							<a href="https://smoldata.org/">Smol Data</a>
						</li>
						<li>
							<a href="http://youarehere.network/">You Are Here</a>
						</li>
						<li>
							<a href="http://ellieirons.com/flight-lines/">Flight Lines</a>
						</li>
						<li>
							<a href="http://occupyhere.org/">Occupy.here</a>
						</li>
					</ul>
					<!-- <p><a href="/projects" class="read-more">More projects →</a></p> -->
				</div>
				<div class="column">
					<h3>phiffer.org</h3>
					<ul>
						<li><a href="/links">Links</a></li>
						<li><a href="/photos">Photos</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/writing">Writing</a></li>
						<li><a href="/audio">Audio</a></li>
						<li><a href="/events">Events</a></li>
						<li><a href="/tags">Tags</a></li>
						<!--<li><a href="/subscribe">Subscribe</a></li>-->
					</ul>
				</div>
			</div>
		</footer>
		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/codemirror.js"></script>
		<script src="/assets/js/smol.js"></script>
	</body>
</html>
